<% if f.object.errors.any? %>
    <div class="alert alert-danger">
        <% f.object.errors.full_messages.each do |message| %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
        <% end %>
    </div>
<% end %>